#login-container--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-container {
  width: 100%;
  max-width: 400px;
  min-height: 350px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.login-input {
  margin-bottom: 1rem;
}

.credentials-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nb-card-header {
  text-align: center;
}

.error, .error-space {
  height: 20px;
  color: #d32f2f;
  margin-top: 10px;
  margin-bottom: 10px;
}
