<nb-layout>
  <nb-layout-header fixed>
    <nb-icon class="title" icon="gift-outline"></nb-icon>
    <b class="title">ParcelFlow</b>
    <button outline nbButton class="user-actions" [nbContextMenu]="userMenuItems">
      <nb-icon icon="menu"></nb-icon>User actions
    </button>
  </nb-layout-header>

  <nb-sidebar *ngIf="isLoggedIn">
      <nb-menu [items]="menuItems"></nb-menu>
  </nb-sidebar>


  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer>Made by Marko, with love :) (and a lot of flexbox)</nb-layout-footer>
</nb-layout>
